# how long until someone roasts me for this .gitignore  -> 5.19.2023

build/
build-linux/
buildtest/
.vscode/
.vs/
.cache

# `git rm --cached -r .`  to remove files added to a git commit but in the .gitignore
